
@{
    ViewBag.Title = "Login Page";
}

<h2>Login Page</h2>

<div>
    @*<select id="method">
        <option value="get">GET</option>
        <option value="post">POST</option>
        <option value="put">PUT</option>
    </select>*@
    <div class="userInfoArea">
        <label id="userIDLabel">User ID</label>
        <input type="text" id="userID" value="user123"/>
        <br />
        <label id="passLabel">Password</label>
        <input type="password" id="pwd" value="test123"/>
        <br />
        <input id="submitButton" type="button" value="Login" onclick="sendRequest()" />
    </div>
    
    <div class="reqResult">
        <span id="value1">(Result)</span>
    </div>
</div>

@section scripts{
    <script>
        var serviceUrl = "http://localhost:49646/api/test";

        function sendRequest() {
            var userId = $('#userID').val();
            var pwd = $('#pwd').val();

            $.ajax({
                data: { 'userID': userId, 'pwd': pwd },
                type: 'get',
                url: serviceUrl
            }).done(function (data) {
                $('#value1').text(data);
            }).error(function (jqXHR, textStatus, errrorThrown) {
                $('#value1').text(jqXHR.responseText || textStatus);
                window.location.replace('/Practice');
            });
        }
    </script>
}



